
    <body style="background-color: gainsboro;text-align: justify;">
    <%= render "navs" %>
        <div class="container-fluid mx-auto" style="background-color: white; padding: 10px;width: 95%; margin-top:60px">
            <div class="row" style="background-color: gainsboro; margin:5px">
                <div class="col-sm-12" style="background-color: white; padding: 10px;">
                    <div class="row" style="background-color:white; margin-top:10px;text-align:justify">  
                        <%= render "allPostOffline" %>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
