<style>
    i{
        padding: 15px;
        color:white;
        font-size:xx-large;
    }
</style>
<nav class=" bg-dark navbar-dark fixed-bottom" style="color:white; margin-top:25px">
    <p class="text-center font-weight-bolder display-4" >Qwasar BaseCamp</p>
    <p class="text-center font-weight-bolder display-5" >Copyright &copy; 2020</p>
    <p class="text-center font-weight-bolder">
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-google-plus"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </p>
</nav>